
<h1>Blogs#index</h1>

<% @blogs.each do |blog| %>

<h3>blog title</h3>
<%=blog.title %>
<h3>blog body</h3>
<%=blog.body %><br>
<%=link_to "show", blog_path(blog) %><br>
<%=link_to "edit", edit_blog_path(blog) %>
<%=link_to "destroy", blog_path(blog), method: :delete %>
<% end %>

