<h1 class="mt-5 ml-5">設計フェーズ</h1>
 <p>新作アプリ案<br>
    模索中
 </p>

<h3>今日の勉強</h3>
<div>
<% for i in 1..10 %>
  <% random = rand(1..5) %>
   <%= random %>
   <% if random == 5 %>
    <h6>今日は休日にしよう</h6>
    <div><%= image_tag 'beer.jpg', width:"300",height:"300" %></div>
    <% break %>
   <% elsif random == 3 %>
    <h6>今日は死ぬ気で勉強に決定</h6>
    <div><%= image_tag 'suit.jpg', width:"300",height:"300" %></div>
    <% break %>
   <% end %>
 <% end %>
</div>

<%= link_to "blogs", blogs_path %>
<%= link_to "new", new_blog_path %>

    <!--<script>
      var max = 100
      var num = 1
      var count = 0

      while(num < max){
       num = num * 2
       count = count + 1
      }

      alert("2を掛け続けて" + max + "を超えるのに必要だった回数は" + count + "回です")
    </script>

    <script>
      var a = 100
      var b = 200
      if (a < b) {
        alert ("zzz")
      }else{
      alert ("xxx")
      }
    </script>-->
